<!-- <button>Template's</button> -->

<h4>Select File</h4>
<input type="file" name="" id="">
<h4>Select Category</h4>
<select name="" id="">
    <option value="">Category 1</option>
    <option value="">Category 2</option>
</select>

<h4>Select Type</h4>
<select name="" id="">
    <option value="">Public</option>
    <option value="">Private</option>
</select>
<h3></h3>

<button class="btn btn-primary">Upload File</button>

<table>
    <caption style="font-size: 25px;">Bits Templates</caption>
   <thead>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Type</th>
        <th>Download</th>
        <th>Action</th>
    </tr>
   </thead>

    <tbody>
        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td><button class="btn btn-primary btn-sm" (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">Download</button></td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td><button class="btn btn-primary btn-sm" (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">Download</button></td>
        </tr>
        
    </tbody>
</table>