<style>
    td,
    th {
        margin: 5px;
        padding: 10px;
    }
</style>

<a routerLink="create-book" routerLinkActive="active" class="nav-link" >Add Book</a>
<h2>Book List </h2>

<table border="1">
    <thead>
        <tr>
            <th>S/L</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Copies</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.copies}}</td>
            <td>
                <button (click) = "updateBook(book.id)">Update</button>
            </td>
            <td>
                <button (click) = "deleteBook(book.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>