<caption style="font-size: 25px;" class="text-center d-block">Bits Forms</caption>

<table aria-describedby="page-heading" class="table table-hover">
    
    <thead>
        <tr>
            <th scope="col">S/L</th>
            <th scope="col" class="text-nowrap">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Download</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>

        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>

        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>


        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>



        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>


        <tr>
            <td>Template - Word - Letter</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Word - Letter', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20Word%20-%20Letter.docx', 'docx')">
                    Download
                </button>
            </td>
        </tr>
        <tr>
            <td>Template - Letterhead - Internal 2</td>
            <td>Communication Templates</td>
            <td>Public</td>
            <td>
                <button class="btn btn-primary btn-sm"
                    (click)="showPDF('Template - Letterhead - Internal 2', 'http://10.42.54.19:8189/da/docs/x650100/templates/Template%20-%20PPT.pptx', 'pptx')">
                    Download
                </button>
            </td>
        </tr>

    </tbody>
</table>
