<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="container-fluid">

  <div class="btn-groups text-right ">
    <button routerLink="/upload-policy" class="btn btn-dark btn-sm px-md-3" data-placement="top" data-toggle="tooltip"
      title="View" type="submit">
      Upload New Policy
    </button>
  </div>

  <caption style="font-size: 25px;" class="text-center d-block">Bits Policies</caption>

  <div class="row m-3">
    <div class="col-sm-3">
      <div class="card">
        <img class="rounded img-fluid img-thumbnail policy-folder"
          src="assets/policy-folder.png" alt="Policy File">
        <div class="card-body">
          <h5 class="card-title text-justify">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 mr-1" (click)="openLg(content)" title="View">View</button>
          <button routerLink="/upload-policy" class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button (click)="openLg(content)" class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-thumbnail policy-folder" src="assets/policy-folder.png" alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top rounded float-left img-thumbnail policy-folder" src="assets/policy-folder.png"
          alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top rounded float-left img-thumbnail policy-folder" src="assets/policy-folder.png"
          alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

  </div>


  <div class="row m-3">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top rounded float-left img-thumbnail policy-folder" src="assets/policy-folder.png"
          alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-thumbnail policy-folder" src="assets/policy-folder.png" alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top rounded float-left img-thumbnail policy-folder" src="assets/policy-folder.png"
          alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top rounded float-left img-thumbnail policy-folder" src="assets/policy-folder.png"
          alt="Policy File">
        <div class="card-body">
          <h5 class="card-title">Leave Policy</h5>
          <button class="btn btn-info btn-sm px-md-3 m-1" (click)="openLg(content)" title="View">View</button>
          <button class="btn btn-primary btn-sm px-md-3 m-1" title="Edit">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
          <button class="btn btn-danger btn-sm px-md-3 m-1" data-placement="top" data-toggle="tooltip" title="Delete"
            type="submit">
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>

<div ng-hide="myValue" class="ng-hide"></div>

<h2 ng-hide="myValue">good</h2>

Hide: <input type="checkbox" ng-model="checked6" aria-label="Toggle ngHide"><br />
<div class="check-element funky-show-hide" ng-hide="checked6">
  I hide when your checkbox is checked.
</div>