<div class="content" role="main">
    <!-- <h1>works</h1> -->
    <!-- <app-policies></app-policies> -->
    <!-- <app-templates></app-templates> -->
    <!-- <app-success-sweet-alert></app-success-sweet-alert> -->

<!-- <app-pdf></app-pdf> -->
    
    <!-- <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
    ></pdf-viewer> -->
</div>

<button class="btn btn-sm btn-link" routerLink="/bits-policies" routerLinkActive="active">Bits Policies</button>
<button class="btn btn-sm btn-link" routerLink="/bits-templates" routerLinkActive="active">Bits Templates</button>
<button class="btn btn-sm btn-link" routerLink="/bits-forms" routerLinkActive="active">Bits Forms</button>
<button class="btn btn-sm btn-link" routerLink="/dummy-input" routerLinkActive="active">test serve</button>



<!-- <ngx-extended-pdf-viewer [src]="'http://10.42.54.19:8189/da/html/images/policies/2_Leave_Policy_v2.pdf'"  height="80vh"></ngx-extended-pdf-viewer> -->

<!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>