<div class="content" role="main">
    <!-- <h1>works</h1> -->
    <!-- <app-policies></app-policies> -->
    <!-- <app-templates></app-templates> -->
    <!-- <app-success-sweet-alert></app-success-sweet-alert> -->

<app-pdf></app-pdf>
    
    <!-- <pdf-viewer
      [src]="src"
      [rotation]="0"
      [original-size]="false"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [stick-to-page]="false"
      [render-text]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
    ></pdf-viewer> -->
</div>

<a routerLink="/bits-policies" routerLinkActive="active">Bits Policies</a>
<a routerLink="/bits-templates" routerLinkActive="active">Bits Templates</a>

<!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>