<h1>Name</h1>
<input type="text" name="" id="" /> <br>
<label for="name">Name: </label>
<input id="name" type="text" [formControl]="name" (ngModelChange)="afterChange()">

<button (click)="updateName()">Change Name</button>

<br>

<p></p>
<p></p>

<ul>
    <li *ngFor="let lang of filteredLangs">{{ lang }}</li>
</ul>

<p></p>
<p></p>
<p></p>
<p *ngIf="name.value.length > 3">Hello, {{ name.value }}</p>



<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in
    Typeahead</p>

<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>


<h2>template variables</h2>
<input #myName type="text" name="" placeholder="type your name" id="">

<h3 *ngIf="myName.value">{{myName.value}}</h3>
<h1>{{nameOfMyCountry.toUpperCase()}}</h1>

<h2>Phone number</h2>
<input #phone placeholder="phone number" /> <button (click)="getPhoneNo(phone.value)">Click here</button>
<h3>{{phoneNo}}</h3>